[submodule "themes/archie-vfj"]
	path = themes/archie-vfj
	url = git@github.com:vjabrayilov/archie-vfj.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/vjabrayilov/archie
